.schedule{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    border: #777 1px solid;
}


.s_row{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #777;

}

.s_row:first-child{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #555;
}
.s_row:first-child div{
    background-color: #777;
    color: #ddd;
}


.s_weekday{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.s_weekday:nth-child(odd){
    background-color: #eee;
}

.s_weekday:nth-child(even){
    background-color: #ddd;
}

.s_lesson_row{
    display: flex;
    flex-direction: row;

}

.s_lesson_row:nth-child(odd){
    background-color: #eee;
}
.s_lesson_row:nth-child(even){
    background-color: #ccc;
}


.sc_title{
    font-size: larger;
    width: 10rem;
    text-align: center;
    background-color: #eee;
}

.sr_title{
    width: 10rem;
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #fff;
}

.sr_weekday{
    width: 10rem;
    text-align: center;

    align-self: stretch;


    position: sticky;
    left: 0;
    z-index: 2;

    font-size: xx-large;
    background-color: #fff;

}

.sÑ_weekday{
    text-align: center;


}

.sr_npp{
    width: 10rem;
    text-align: center;
    position: sticky;
    left: 10rem;
    z-index: 2;

    background-color: inherit;
}

.sc_npp{
    width: 3.5rem;
    text-align: center;


}

.sc_lesson{
    width: 3.5rem;
    text-align: center;
    display: flex;

}

.sc_r_lesson{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.2rem;
    text-align: center;
    width: 100%;
}

.sc_r_lesson > div{

    width: 48%;
}

.sc_r_lesson:nth-child(n+2){
    color:#c44;
}

.sc_lesson:nth-child(odd){
    background-color: #eee;
}
.sc_lesson:nth-child(even){
    background-color: #ccc;
}

.active_lesson{

    background-color: rgb(245, 164, 164) !important;

}


.sr_lesson
{
    width: 10rem;
    border: 1px solid #aaa;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.sr_lesson::after{
    content: '+';
}

.sr_g_lesson{
    border-bottom: 1px solid #333;
    text-align: center;
    cursor: pointer;
}

.teacher_plan{
    display: flex;
    padding: 5px;

}

.teacher_plan_lessons{
    display: flex;

}

.teacher_plan_lesson{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 3px;
    background-color: #eee;
    border: #fff solid 2px;
    border-radius: 5px;
    cursor: pointer;
}



.teacher_plan_lesson *{
    cursor: pointer;
}

#teacher_plan_room{
    font-size: x-large;
    color: #c44;
}

/* Colors for class number */
.line1{
    background-color: rgb(250, 240, 225);
}
.line2{
    background-color: rgb(255, 220, 165);
}
.line3{
    background-color: rgb(250, 240, 225);
}
.line4{
    background-color: rgb(255, 220, 165);
}
.line5{
    background-color: rgb(210, 235, 175);
}
.line6{
    background-color: rgb(160, 180, 135);
}
.line7{
    background-color: rgb(210, 235, 175);
}
.line8{
    background-color: rgb(160, 180, 135);
}
.line9{
    background-color: rgb(250, 240, 225);
}
.line10{
    background-color: rgb(255, 220, 165);
}
.line11{
    background-color: rgb(250, 240, 225);
}
