html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{

    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    color: #555;
}

.all{
    display: flex;
    flex-direction: column;

    width: 100vw;

    height: 100vh;

    color: #555;
}

.top{
    background-color: #ccc;
    height: 3rem;
    width: 100%;
    color: #555;
    display: flex;
    align-items: center;

}

.top > ul{
    list-style-type: none;
    flex-grow: 1;
    display: flex;
}

.right_menu{
    justify-content: flex-end;
}

.top > ul li{
    margin-left: 2rem;
    margin-right: 1rem;
}

.center{
    flex: 1;
    display: flex;
    align-items: stretch;
    overflow: auto;
}

.left{
    color:#555;
    min-width: 13rem;
    display: flex;
    flex-direction: column;

}

.left > ul{
    list-style-type: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}



.bottom{
    background-color: #ccc;
    min-height: 2rem;
    width: 100%;
    color: #555;

}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: rgba(50,50,50,0.5);
}

.modal_content{
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #777;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.modal_content *{
    margin-bottom: 5px;
}

.modal_content > h3{
    margin-top: 5px;
}

.modal_content > .errors{
    display: none;
}

.modal_content > .errors > ul{
    list-style: none;
    color: brown;
}

.simple_stripped_table{
    border:#aaa solid 1px;
    margin: 0.5rem;
}
.simple_stripped_table tbody tr:nth-child(odd){
    background-color: #eee;
}
.simple_stripped_table tbody tr:nth-child(even){
    background-color: #ccc;
}
.simple_stripped_table th{
    border:#aaa solid 1px;
    white-space: nowrap;
}
.simple_stripped_table td{
    border:#aaa solid 1px;
    white-space: nowrap;
}


.stripped_table tbody tr:nth-child(odd){
    background-color: #eee;
}
.stripped_table tbody tr:nth-child(even){
    background-color: #ccc;
}

.stripped_table{
    border:#aaa solid 1px;
    margin: 0.5rem;
}

.stripped_table td{
    border:#aaa solid 1px;
    white-space: nowrap;

}

.stripped_table td:first-child{
    position: sticky;
    left: 0;
    z-index: 1;
}

.stripped_table tr:first-child{
    position: sticky;
    top: 0;
    z-index: 1;
}


.stripped_table th{
    border:#aaa solid 1px;
    white-space: nowrap;
}

.clicker{
    cursor: pointer;
}

span.clicker{
    text-decoration: underline;
}